.section {
    margin-top: 155px;
    margin-bottom: 146x;
}
.section__tit {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 52px;
}
.section__title {
    display: flex;
    font-size: 36px;
    font-weight: bold;
}
.section__title-icon {
    width: 21px;
    height: 28px;
    display: flex;
    margin-top: 14px;
    margin-left: 11px;
}