.hero__content {
    margin-top: 100px;
    margin-bottom: 120px;
}

.hero__text-section {
    width: 45%;
}

.hero__title {
    font-size: 72px;
    font-weight: bold;
    line-height: 1.2;
}

.hero__subtitle {
    font-size: 18px;
    color: #fff;
    margin-top: 29px;
}
.hero__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 600px;
}
