.menu__list {
    display: flex;
    align-items: center;
}
.menu__item {
    
    margin-right: 50px;
}

.menu__item--active .menu__link {
    color: #d21d16;
}
.menu__link {
    font-size: 14px;
    text-decoration: none;
}

.menu__link:hover {
    color: #d21d16;
    transition: .3s;
}